monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists
        - dictionary
        - history
        - deals
    handlers:
        dictionary:
            type: rotating_file
            path: '%kernel.logs_dir%/dictionary.log'
            level: debug
            max_files: 1
            channels: [ "dictionary" ]
        history:
            type: rotating_file
            path: '%kernel.logs_dir%/history.log'
            level: debug
            max_files: 1
            channels: [ "history" ]
        deals:
            type: rotating_file
            path: '%kernel.logs_dir%/deals.log'
            level: debug
            max_files: 1
            channels: [ "deals" ]

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            nested:
                type: rotating_file
                path: '%kernel.logs_dir%/dictionary.log'
                level: debug
                max_files: 10
#                type: stream
#                path: php://stderr
#                level: debug
#                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                formatter: monolog.formatter.json
