version: '3'
services:
  php:
    restart: always
    build:
      context: ./docker/php
      dockerfile: php.dockerfile
    ports:
      - '80:8000'
    working_dir: '/var/www/app'
    volumes:
      - ./:/var/www/app
    networks:
      - internal
  mysql8:
    image: mysql:8.0.33-debian
    container_name: mysql8
    restart: always
    environment:
      MYSQL_DATABASE: 'symfony'
      MYSQL_ROOT_PASSWORD: 'root'
    ports:
      - '3306:3306'
    volumes:
      - '${HOME}/mysql8/data:/var/lib/mysql'
    networks:
      - internal
networks:
  internal:
