# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
  # default configuration for services in *this* file
  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    bind:
      'bool $isDebug': '%kernel.debug%'
      'string $now': 'now'
      'string $telegrammBotToken': '%env(string:TELEGRAMM_BOT_TOKEN)%'
      'int $telegrammBotDialog': '%env(int:TELEGRAMM_BOT_DIALOG)%'
      'string $iisFinamToken': '%env(string:IIS_FINAM_TOKEN)%'
      'string $iisFinamClientId': '%env(string:IIS_FINAM_CLIENT_ID)%'
      'string $speculativeFinamToken': '%env(string:SPECULATIVE_FINAM_TOKEN)%'
      'string $speculativeFinamClientId': '%env(string:SPECULATIVE_FINAM_CLIENT_ID)%'

  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  App\:
    resource: '../src/'
    exclude:
      - '../src/DependencyInjection/'
      - '../src/Entity/'
      - '../src/Kernel.php'

  # add more service definitions when explicit configuration is needed
  # please note that last definitions always *replace* previous ones

  telegramm_sender:
    class: App\EventListener\Handler\TelegrammSender

  db_sender:
    class: App\EventListener\Handler\DataBaseSender

  notification_event_listener:
    class: App\EventListener\NotificationEventListener
    calls:
      - addSender: [ '@telegramm_sender' ]
      - addSender: [ '@db_sender' ]

  finam_http_client:
    class: App\Service\Finam\HttpClient

  finam_auth_resource:
    class: App\Service\Finam\Resource\AuthResource
    arguments:
      $httpClient: '@finam_http_client'

  finam_account_resource:
    class: App\Service\Finam\Resource\AccountResource
    arguments:
      $httpClient: '@finam_http_client'

  finam_client:
    class: App\Service\Finam\Client
    arguments:
      $authResource: '@finam_auth_resource'
      $accountResource: '@finam_account_resource'
